onnx==1.10.2
tensorflow-gpu==2.5.1; (platform_machine=="x86_64" and sys.platform=="linux")
onnxruntime==1.8.1
-f https://download.pytorch.org/whl/cu113/torch_stable.html
torch==1.10.2+cu113
torchvision==0.11.3
Pillow==8.3.2
numpy
pycuda<2021.1
pytest
--extra-index-url https://pypi.ngc.nvidia.com
onnx-graphsurgeon
