*.pyc
.idea
*.pytest_cache
venv*

tests/logs
tests/saved_models
tests/test_*
temp
*.json
build
tensorflow_quantization.egg-info
tf-onnx-trt/tests/logs
tf-onnx-trt/tests/saved_models

qdq_insertion_experiments

tf-trt/tests/logs
tf-trt/tests/saved_models
wrappers_test_saved_models
utils_test_saved_models
end_to_end_test
qdq_test_saved_models
custom_qdq_models

assets/resnet*
