colored
controlnet_aux==0.0.6
cuda-python
diffusers==0.26.3
ftfy
matplotlib
nvtx
onnx==1.15.0
onnxruntime==1.16.3
opencv-python==4.8.0.74
scipy
transformers==4.33.1
--extra-index-url https://pypi.nvidia.com
nvidia-modelopt==0.11.2
onnx-graphsurgeon
polygraphy==0.49.9
sentencepiece
