setuptools # for qgrid
wheel # for qgrid
protobuf==3.16.0
onnx==1.11.0
numpy
pandas==1.1.5
plotly
qgrid
graphviz
jupyter
netron
openpyxl # for excel reporting
ipywidgets
ipyfilechooser
jupyterlab
jupyter-dash
pytest
dtale==2.2.0
