# Packages required for core functionality.
protobuf
onnx>=1.15.0
pandas==2.2.1
pytest
graphviz
pydot
numpy
networkx
tabulate

# Packages required for utilities
pynvml

# Packages required for excel reporting.
xlsxwriter
openpyxl
