nemo-toolkit[nlp]==1.17.0
onnx==1.14.0
protobuf==3.20.3
onnxruntime==1.13.1
transformers==4.27.0
cuda-python==12.1.0
setuptools==65.5.1
tqdm
--pre --extra-index-url https://download.pytorch.org/whl/nightly/cu121
torch==2.1.0.dev20230820
torchaudio==2.1.0.dev20230821
torchvision==0.16.0.dev20230821
onnx-graphsurgeon==0.3.27
